.swiperElement {
  width: max-content;
  cursor: pointer;

  img {
    border: 2px solid black;

    &:hover {
      border: 2px solid white;
    }
  }
}

.bla {
  width: 50em;
}

.bla2 {
  width: 50em;
}
